<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>HackerList</h1>
    <p class="lead">A decentralized hacker directory</p>
    <div class="col-md-6 col-md-offset-3">
      <form class="form-inline" ng-submit="submit()">
        <div class="form-group">
          <label class="sr-only" for="hackerSearch">Search Hackers</label>
          <input type="text" ng-model="hackerSearch" class="form-control" placeholder="Hacker handle" />
        </div>
        <button class="btn btn-success" ng-click="submit()">Go!</button>
    </div>
    </form>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>A what?</h1>
      <p>HackerList reads hacker.json files hosted on GitHub or your personal website and adds them to this directory.</p>
    </div>
    <div class="col-md-6">
      <h1>How do I get started?</h1>
      <p>Simply create a hacker.json file and go to your HackerList page.</p>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p><a href="https://twitter.com/simplyianm">@simplyianm</a> |
      <a href="https://github.com/simplyianm/hackerlist">Issues</a>
    </p>
  </div>
</footer>
